body {
    margin: 0;
    /* Can be changed
     You can change background image to yours, if you want, by adding it to directory as "image.png" or by changing url*/
    background: url("image.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div#header {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
}

canvas {
    border-radius: 0 0 40px 40px;
    background-color: #18181888;
    border: 5px solid #00000088;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-top-style: none;
}

div#content {
    width: 100%;
    position: absolute;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    display: block;
    color: white;
    font-size: 20px;
    text-indent: 10px;
    border: 6px solid #121212;
    background-color: #202020;
    width: 40%;
    height: 40px;
}

div#footer {
    width: 100%;
    font: 20px Arial;
    color: #dddddd;
    position: absolute;
    bottom: 0;
}

footer {
    background-color: #181818aa;
    border: 10px solid #000000aa;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-bottom-style: none;
    border-right-style: none;
    border-left-style: none;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
}
